.form-background{
    background:rgba(200, 200, 2000, 0.3);
    border-radius: 25px;
}

.main-section-form_title{
    color:white;
}

.form-input-title{
    color:white;
}

.btn-form{
    width: 100%;
}